* {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

body {
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    width: 100vw;
    background-color: #222;
}

.container {
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 20px;
    height: 75px;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 700px;
}

.container2 {
    width: 100vw;
    background-color: #F1E4E6;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #222;
    color: #F16D7F;
    /* padding: 16px;
    font-size: 16px; */
    border: none;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 27px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 32px;
    padding-right: 74px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    gap: 2px;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .menu__burger path {
    /* background-color: #3e8e41; */
    fill: #F16D7F;
    transition: all 0.5s;
    rotate: 90deg;
}

.dropdown-content a:hover {
    background-color: #F16D7F;
}

.menu_menu {
    font-size: 14px;
    font-weight: 700;
    padding-top: 32px;
    margin-bottom: 24px;
}

.menu_lf {
    color: #F16D7F;
    font-size: 14px;
    margin-bottom: 12px;
}

.menu_a {
    color: #6F6E6E;
    font-size: 14px;
    font-weight: 400;
}
ul {
    margin-bottom: 20px;
}
.logo {
    display: inline-flex;
    gap: 41px;
    flex-direction: row;
    align-items: flex-end;
}

.top__brend {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fig_brend {
    display: flex;
    height: 92px;
    gap: 16px;
}

.text_h1 {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.text_col {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 470px;
    font-weight: 700;
}

.text_col1 {
    color: #222;
    font-size: 32px;
    font-style: normal;
}

.text_col2 {
    color: #F16D7F;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.brend_name {
    display: block;
    flex-direction: row;
    text-align: left;
}

.product {
    display: flex;
    max-width: 1140px;
    justify-self: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-top: 65px;
    padding-left: calc(50% - 532px);
    padding-right: calc(50% - 548px);
}

.top__content {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
    gap: 30px;
    margin-bottom: 56px;
    max-width: 100vw;
    justify-items: center;
}

.top__buttom {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}

.content__card_big {
    grid-area: 2 / 1 / 3 / 4;
    text-align: center;
}

.content__card1 {
    width: 360px;
    height: 260px;
    background-image: linear-gradient(90deg, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.7) 100%), url(img/top/girl_top.jpg);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.text_h3 {
    width: 154px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.text_h4 {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text_h5 {
    width: 190px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__card2 {
    width: 360px;
    height: 260px;
    background-image: linear-gradient(90deg, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.7) 100%), url(img/top/Man_top.png);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__card3 {
    width: 360px;
    height: 260px;
    background-image: linear-gradient(90deg, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.7) 100%), url(img/top/boy.png);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__card_big {
    width: 1140px;
    height: 180px;
    background-image: linear-gradient(90deg, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.7) 100%), url(img/top/shoose.png);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.text__h2 {
    text-align: center;
}

.text__but_h2 {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 6px;
}

.text__but_p {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.img_card {
    width: 360px;
    height: 420px;
}

.text__card {
    text-align: left;
    padding: 24px 16px 24px 16px;
    background-color: #F8F8F8;
}

.text__card_h4 {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text__card_p {
    font-weight: 300;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 314px;
}

.text__card_h3 {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cards {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
    gap: 15px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 586px;
}

.man1 {
    width: 360px;
    height: 420px;
}

p {
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__button {
    margin-top: 140px;
    margin-bottom: 60px;
    width: 212px;
    height: 48px;
    border-color: #FF6A6A;
    color: #FF6A6A;
    background-color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__button:hover {
    background-color: #FF6A6A;
    color: #fff;
}

.buttom {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.but_cent {
    background-color: #222224;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.services {
    background-color: #222224;
    height: 341px;
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.mid_buttom {
    display: flex;
    width: 100vw;
    justify-content: center;

}

.subscribe {
    background-image: url(img/buttom/serfer_lg.png);
    height: 448px;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 359px;
}

.mid_but_cent {
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: #e9e9e9;
}

.ser {
    color: #FBFBFB;
}

.ser1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FBFBFB;
    width: 360px;
}

.img_ser {
    margin-bottom: 28px;
}

.img_ser1 {
    margin-bottom: 19px;
}

.img_ser2 {
    margin-bottom: 25px;
}

.foot {
    background-color: #222224;
    height: 79px;
    width: 100%;
}

.sub {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #222224;
    text-align: center;
}

.img_mid_but {
    margin-bottom: 30px;

}

.sub1_mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    gap: 10px;
}

.text_sub1 {
    font-size: 24px;
    color: #222224;
    font-weight: 700;
}

.text1_sub1 {
    font-size: 18px;
    color: #222224;
    font-weight: 700;
}

.inp {
    height: 49px;
    background-color: #E1E1E1;
    border: none;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    width: 256px;
}

.btn {
    height: 49px;
    background-color: #F16D7F;
    border: none;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    width: 100px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.form {
    display: flex;
}

.foot {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.div_logo {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: white;
    text-align: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.div_logo:hover {
    background-color: #F16D7F;
    fill: white;
}

.div_logo:hover+.img_f {
    fill: white;
}

.foot_logo {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 8px;
}

.text_foot {
    font-weight: 400;
    font-size: 16px;
    color: #fbfbfb;
}

@media(min-width:768px) and (max-width:1024px) {

    .heading {

        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        width: 100%;
        gap: 0;
    }

    .container2 {
        width: 100%;
    }

    .top__brend {
        width: 86%;
        min-width: 762px;
        gap: 0px;
    }

    .img_man {
        width: 386px;
        height: 368px;

    }

    .fig_brend {
        display: flex;
        height: 92px;
        gap: 16px;
    }

    .text_h1 {
        font-size: 44px;
    }

    .text_col2 {
        font-size: 24px;
    }

    .text_col1 {
        font-size: 24px;
    }

    .text_col {
        width: 355px;
    }

    .product {
        display: flex;
        max-width: 767px;
    }

    .size768-1024 {
        width: 230px;
        height: 167px;
    }

    .size768-1024_2 {
        width: 734px;
        height: 116px;
    }

    .top__content {
        gap: 16px;
    }

    .text_h3 {
        font-size: 16px;
    }

    .cards {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33.33% 33.33% 33.33%;
        gap: 14px;
    }

    .content__card1 {
        width: 230px;
        height: 167px;
        background-size: 230px;
    }

    .content__card2 {
        width: 230px;
        height: 167px;
        background-size: 230px;
    }

    .content__card3 {
        width: 230px;
        height: 167px;
        background-size: 230px;
    }

    .content__card_big {
        width: 734px;
        height: 116px;
        background-size: 734px;
    }
}

@media(min-width:320px) and (max-width:767px) {
    .heading {
        width: 100%;
        /* max-width: 100vw; */
        height: 75px;
        background-color: #222;
        display: inline-flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-between;
        align-items: center;
        /* padding-left: 15px;
        padding-right: 15px; */
        gap: 215px;
    }

    .container {
        width: 100%;
        gap: 0;
    }

    .container2 {
        width: 100%;
    }

    .top__brend {
        height: 343px;
        justify-content: center;
    }

    .menu__burger {
        display: block;
    }

    .menu__burger2 {
        display: none;
    }

    .img_man {
        display: none;
    }

    .top__content {
        display: flex;
        gap: 32px;
        margin-bottom: 56px;
        /* max-width: 100vw; */
        justify-items: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

    .cards {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 16.6666% 16.6666% 16.6666% 16.6666% 16.6666% 16.6666%;
        gap: 14px;
    }

    .size320-767_2 {
        width: 360px;
        height: 111px;
    }

    .size320-767 {
        width: 360px;
        height: 260px;
    }

    .top__button {
        margin-top: 181px;
    }

    .fig_brend {
        display: flex;
        height: 70px;
        gap: 16px;
        padding-left: 57px;
    }

    .text_h1 {
        font-size: 38px;
    }

    .text_col2 {
        width: 100px;
        font-size: 20px;
    }

    .text_col1 {
        font-size: 20px;
    }

    .text_col {
        width: 295px;
        ;
    }

    .content__card_big {
        margin-top: 0;
    }


}