* {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.header {
    background-color: #222;
}

.heading {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}

.container {
    max-width: 1140px;
    margin: 0px auto;
}

.container2 {
    max-width: 1600px;
    margin: 0 auto;

}

.color_for_cont2 {
    background-color: rgb(241, 228, 230);
    margin-bottom: 65px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #222;
    color: #F16D7F;
    border: none;
}

.lg {
    border: none;
    background: rgb(34, 34, 34);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 27px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 32px;
    padding-right: 74px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    gap: 2px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .menu__burger path {
    fill: #F16D7F;
    transition: all 0.5s;
    rotate: 90deg;
}

.dropdown-content a:hover {
    background-color: #F16D7F;
}

.menu_menu {
    font-size: 14px;
    font-weight: 700;
    padding-top: 32px;
    margin-bottom: 24px;
}

.menu_lf {
    color: #F16D7F;
    font-size: 14px;
    margin-bottom: 12px;
}

.menu_a {
    color: #6F6E6E;
    font-size: 14px;
    font-weight: 400;
}

ul {
    margin-bottom: 20px;
}

.logo {
    display: inline-flex;
    gap: 41px;
    flex-direction: row;
    align-items: flex-end;
}

.bgc {
    background: rgb(34, 34, 34);
    cursor: pointer;
}

.menu_after {
    position: relative;
}

.menu_after::after {
    top: -9px;
    right: -9px;
    position: absolute;
    content: "5";
    display: block;
    width: 19px;
    height: 19px;
    border-radius: 9.5px;
    background-color: #F16D7F;
    color: #E1E1E1;
    font-size: 100;
}

.top__brend {
    display: flex;
    align-items: center;
    background-color: rgb(241, 228, 230);
    gap: 64px;
}

.img_man {
    width: 50.26%;
}

.fig_brend {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.text_h11 {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}

.text_col1 {
    color: #222;
    font-size: 32px;
}

.text_col2 {
    color: #F16D7F;
}

.top__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 96px;
}

.top__buttom {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}

.content__card_big {
    grid-area: 2 / 1 / 3 / 4;
}

.content__card {
    width: 360px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.card1_bgc {
    background-image: linear-gradient(90deg, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.7) 100%), url(img/top/girl_top.jpg);
}

.text_h3 {
    width: 154px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}

.text_h4 {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text_h5 {
    width: 190px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card2_bgc {
    background-image: linear-gradient(90deg, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.7) 100%), url(img/top/Man_top.png);
}

.card3_bgc {
    background-image: linear-gradient(90deg, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.7) 100%), url(img/top/boy.png);
}

.content__card_big {
    width: 1140px;
    height: 180px;
    background-image: linear-gradient(90deg, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.7) 100%), url(img/top/shoose.png);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.text__h2 {
    text-align: center;
}

.text__but_h2 {
    color: rgb(34, 34, 34);
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.top__buttom h2 {
    margin-bottom: 6px;
}

.text__but_p {
    color: rgb(159, 159, 159);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 49px;
}

.img_card {
    width: 360px;
    height: 420px;
}

.text__card {
    text-align: left;
    padding: 24px 16px 24px 16px;
    background-color: #F8F8F8;
}

.text__card_h4 {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text__card_p {
    font-weight: 300;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 314px;
    color: #5D5D5D;
}

.text__card_h3 {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 48px;
}

.card {
    height: 582px;
}

.man1 {
    width: 360px;
    height: 420px;
}

.basket {
    display: none;
    width: 140px;
    height: 44px;
    color: #FFFFFF;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border: 2px white;
}

.img__card {
    width: 26px;
}

.text_bas {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.img_bg_man {
    width: 360px;
    height: 420px;
    background-image: url(img/top/man.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_bg_girl {
    background-image: url(img/top/Girl.png);
    width: 360px;
    height: 420px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_bg_man_hat {
    background-image: url(img/top/Man_hat.png);
    width: 360px;
    height: 420px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_bg_berad {
    background-image: url(img/top/Berad.png);
    width: 360px;
    height: 420px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_bg_girl_b {
    background-image: url(img/top/Girl_blue.png);
    width: 360px;
    height: 420px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_bg_girl_bl {
    background-image: url(img/top/Girl_black.png);
    width: 360px;
    height: 420px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_bg_man:hover .basket {
    display: flex;
    border: #e9e9e9 2px solid;
    width: 139px;
    height: 44px;
}

.img_bg_girl:hover .basket {
    display: flex;
    border: #e9e9e9 2px solid;
    width: 139px;
    height: 44px;
}

.img_bg_man_hat:hover .basket {
    display: flex;
    border: #e9e9e9 2px solid;
    width: 139px;
    height: 44px;
}

.img_bg_berad:hover .basket {
    display: flex;
    border: #e9e9e9 2px solid;
    width: 139px;
    height: 44px;
}

.img_bg_girl_b:hover .basket {
    display: flex;
    border: #e9e9e9 2px solid;
    width: 139px;
    height: 44px;
}

.img_bg_girl_bl:hover .basket {
    display: flex;
    border: #e9e9e9 2px solid;
    width: 139px;
    height: 44px;
}

.img_bg_man:hover {
    background-image: linear-gradient(90deg, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.7) 100%), url(img/top/man.jpg);
}

.img_bg_girl:hover {
    background-image: linear-gradient(90deg, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.7) 100%), url(img/top/Girl.png);
}

.img_bg_man_hat:hover {
    background-image: linear-gradient(90deg, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.7) 100%), url(img/top/Man_hat.png);
}

.img_bg_berad:hover {
    background-image: linear-gradient(90deg, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.7) 100%), url(img/top/Berad.png);
}

.img_bg_girl_b:hover {
    background-image: linear-gradient(90deg, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.7) 100%), url(img/top/Girl_blue.png);
}

.img_bg_girl_bl:hover {
    background-image: linear-gradient(90deg, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.5970763305322129) 100%, rgba(33, 22, 22, 0.7) 100%), url(img/top/Girl_black.png);
}

p {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 400;
}

.top__button {
    margin-bottom: 95px;
    width: 212px;
    height: 48px;
    border-color: #FF6A6A;
    color: #FF6A6A;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-style: solid;
}

.top__button:hover {
    background-color: #FF6A6A;
    color: #fff;
}

.but_cent {
    background-color: #222224;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.services {
    background-color: #222224;
    height: 341px;
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.subscribe {
    background-image: url(img/buttom/serfer_lg.png);
    height: 448px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 359px;
}

.mid_but_cent {
    display: flex;
    background-color: #e9e9e9;
}

.sub__girl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FBFBFB;
    width: 360px;
    padding-top: 64px;
    margin-bottom: 78px;
}

.ser {
    color: #FBFBFB;
}

.ser1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FBFBFB;
    width: 360px;
}

.sub1 {
    width: 356px;
}

.img_ser {
    margin-bottom: 28px;
}

.img_ser1 {
    margin-bottom: 19px;
}

.img_ser2 {
    margin-bottom: 25px;
}

.sub {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #222224;
    text-align: center;
}

.img_mid_but {
    margin-bottom: 30px;

}

.sub1_mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    gap: 10px;
}

.text_sub1 {
    font-size: 24px;
    color: #222224;
    font-weight: 700;
}

.text1_sub1 {
    font-size: 18px;
    color: #222224;
    font-weight: 400;
}

.ser1__text_p {
    font-weight: 300;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 314px;
    text-align: center;
    color: #FBFBFB;
}

.inp {
    height: 49px;
    background-color: #E1E1E1;
    border: none;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    width: 256px;
    text-align: center;
    padding-left: 15px;
}

.inp:hover {
    background-color: #f2cbd0;
}

.btn {
    height: 49px;
    background-color: #F16D7F;
    border: none;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    width: 100px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.btn:active {
    background-color: white;
    color: #F16D7F;
}

.btn:hover {
    border: #e9e9e9 2px solid;
}

.form {
    display: flex;
}

.foot {
    background-color: #222224;
    height: 79px;
    max-width: 1600px;
    margin: 0 auto;
    align-content: center;
}

.foot__pos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 230px;
    padding-right: 235px;

}

.div_logo {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: white;
    text-align: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.div_logo:hover {
    background-color: #F16D7F;
}

.div_logo:hover .icon {
    fill: white;
}

.foot_logo {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 8px;
}

.text_foot {
    font-weight: 400;
    font-size: 16px;
    color: #fbfbfb;
}

@media(min-width:768px) and (max-width:1024px) {

    .heading {
        padding-left: 32px;
        padding-right: 32px;
    }

    .container {
        max-width: 768px;
    }

    .container2 {
        max-width: 768px;
    }

    .dropdown-content {
        right: -110px;
    }

    .top__brend {
        width: 86%;
        min-width: 762px;
        gap: 39px;
    }

    .img_man {
        width: 386px;
        height: 368px;
    }

    .fig_brend {
        height: 92px;
    }

    .text_h11 {
        font-size: 44px;
    }

    .text_col2 {
        font-size: 24px;
    }

    .text_col1 {
        font-size: 24px;
    }

    .text_col {
        width: 355px;
    }

    .product {
        display: flex;
        max-width: 767px;
    }

    .size768-1024 {
        width: 232px;
        height: 167px;
    }

    .size768-1024_2 {
        width: 734px;
        height: 116px;
    }

    .top__content {
        display: flex;
        gap: 19px;
        margin-bottom: 96px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .text_h3 {
        font-size: 16px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .content__card1 {
        width: 232.33px;
        height: 167px;
        background-size: 230px;
    }

    .content__card2 {
        width: 232.33px;
        height: 167px;
        background-size: 230px;
    }

    .content__card3 {
        width: 232.33px;
        height: 167px;
        background-size: 230px;
    }

    .content__card_big {
        width: 736px;
        height: 116px;
        background-size: 734px;
    }

    .services {
        display: flex;
        padding-top: 30px;
        align-content: space-around;
        justify-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        height: 530px;
    }

    .subscribe {
        background-image: url(img/buttom/serfer_m.png);
        height: 614px;
        flex-direction: column;
        justify-content: normal;
        gap: 0px;
    }

    .text1_sub1 {
        font-weight: 400;
    }

    .foot__pos {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media(min-width:320px) and (max-width:767px) {
    .heading {
        padding-left: 16px;
        padding-right: 16px;
    }

    .menu__burger2 {
        display: none;
    }

    .container {
        max-width: 767px;
    }

    .container2 {
        max-width: 767px;
    }

    .dropdown-content {
        right: 0px;
        top: 22px;
    }

    .top__brend {
        height: 343px;
        justify-content: center;
    }

    .menu__burger {
        display: block;
    }

    .img_man {
        display: none;
    }

    .top__content {
        display: flex;
        gap: 32px;
        margin-bottom: 56px;
        justify-items: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

    .cards {
        display: grid;
        grid-template-columns: 100%;
        gap: 14px;
        margin-bottom: 0;
    }

    .size320-767_2 {
        width: 360px;
        height: 111px;
    }

    .size320-767 {
        width: 360px;
        height: 260px;
    }

    .top__button {
        margin-top: 41px;
    }

    .fig_brend {
        display: flex;
        flex-direction: column;
    }

    .text_h11 {
        font-size: 38px;
    }

    .text_col2 {
        width: 100px;
        font-size: 20px;
    }

    .text_col1 {
        font-size: 20px;
    }

    .text_col {
        width: 295px;
    }

    .content__card_big {
        margin-top: 0;
    }

    .services {
        display: flex;
        padding-top: 30px;
        align-content: space-around;
        justify-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        height: 530px;
    }

    .subscribe {
        background-image: url(img/buttom/serfer_s.png);
        background-size: 100% auto;
        height: 614px;
        width: 100%;
        max-width: 1600px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 57px;
    }

    .text1_sub1 {
        font-size: 14px;
        font-weight: 400;
    }

    .foot__pos {
        max-width: 767px;
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .foot {
        height: auto;
    }

    .foot_logo {
        margin-top: 43px;
        margin-bottom: 40px;
    }

    .text_foot {
        margin-bottom: 9px;
    }

    .sub1 {
        width: 341px;
    }
}